* {
  background-color: teal;
  margin-bottom: 20px;
}

h1{
border: 1px solid black;
}

div{
	border: 1px solid black;
}

.first {
 margin-left: auto;
 margin-right: auto;
 text-align: center;

}

table{
  border-collapse: collapse;
  border-spacing: 0;
 margin-left: 350px;
  clear: both;
  position: fixed;
  top: 10px;
}
td{
  border:1px solid black;
  padding: 10px;
}