

#nav_bar{
	border: 5px solid black;
	text-align: right;
	font-family:'Josefin Sans', sans-serif;
	text-decoration: none;
}


#heading_bar {
  height: 100%;
  width: 100%;
  text-align: center;
  background: url(../images/paris.jpg);
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 120px;
  padding-bottom: 15px;
}

#name h1 a {
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  padding: 13px;
  text-decoration: none;
  border: 5px solid white;
}


body{
background-color: grey;
}

h1{
	font-family:'Josefin Sans', sans-serif;
}


.btns{
	font-family:'Josefin Sans', sans-serif;
	font-size: 25px; 
	text-align: right;
	padding: 20px;
	text-decoration: none;


}

#first_quad{
	background: url(../blog/images/paris.jpg); /*change to the a beack pic*/
	height: 100%;
}



footer{
	border: 2px solid black;
	background-color: grey;
}

#github_btn, #linkedin_btn, #twitter_btn {
  position: relative;
  display: inline;
  padding-right: 10px;
  height: 40px;
  width: 40px;

}

