
.social_buttons {
  margin-left: 50px;
  float: left;
  margin-top: 5px;
}

.social_buttons a img {
  height: 17.5px;
}

.social_buttons a img:hover {
  opacity: .75;
}

#github_btn, #linkedin_btn, #twitter_btn {
  position: relative;
  display: inline;
  padding-right: 10px;
}





body{

}

.nav_bar{
	border: 5px solid black;
	text-align: right;
	font-family:'Josefin Sans', sans-serif;
}

#first_quad{
	background: url(../blog/images/paris.jpg); 
}



footer{
	border: 2px solid black;
	background-color: grey;
}

footer .social_buttons{
	size:10px;

}