




body{

}

h1{
	font-family:'Josefin Sans', sans-serif;
}

#nav_bar{
	border: 5px solid black;
	text-align: right;
	font-family:'Josefin Sans', sans-serif;
}
.btns{
	font-family:'Josefin Sans', sans-serif; 
}

#first_quad{
	background: url(../blog/images/paris.jpg); 
}



footer{
	border: 2px solid black;
	background-color: grey;
}

#github_btn, #linkedin_btn, #twitter_btn {
  position: relative;
  display: inline;
  padding-right: 10px;
  height: 10px;
  width: 10px;
}

