/********************/
/*   Huge screens   */
/********************/
@media only screen and (max-width: 1440px) {

}


/*****************************/
/*   normal desktop screen   */
/*****************************/
@media only screen and (max-width: 1300px) {
    
}



/************************/
/*   ipad and Tablets   */
/************************/
@media only screen and (max-width: 1024px) {
  #navTitle{
    display: none;
  }
  #introWrapper {
    display: block;
    width: 100%;
    text-decoration: none;
    /* background-color: #61454F; */
    padding-bottom: 5px;
    margin-bottom: -8%;
  }
  #projectsWrapper {
    /* margin-top: 3px; */
    margin-bottom: -10.5%;
  }

}


/*************************/
/*   iphone breakpoint   */
/*************************/
@media only screen and (max-width: 640px) {
   
}


/*********************/
/*   Small Devices   */
/*********************/
@media only screen and (max-width: 570px) {
    .natureText{
      font-size: 1.4em;
      color: #fff;
    }
    #navName {
      left: -50px;
      top: 8px;
      font-size: 0.5em;
}
  #nature{
      margin-top: 19%;
  }

    #introWrapper{
        margin-bottom: -11%;
    }
    #projectsWrapper{
      margin-bottom: -11%;
    }
    #navTitle{
      display: none;
    }

    nav li {
      display: inline;
      float: right;
      padding: .4em;
      text-transform: uppercase;
      font-family: "Muli", Lato, sans-serif;
      font-size: .85em;
    }
    #introHeader {
      font-size: 3em;
    }
    .projectsText {
      font-size: 37px;
    }
    .blogText {
      font-size: 37px;
    }

}