body{
	background-color: #BDDFEB;
}
div#container {
}
#container #welcome {
	text-align: center;
}
div#memory_board {
	background-color: #CCC;
	border: #999 1px solid;
	width: 800px;
	height: 540px;
	padding: 24px;
	margin: 0px auto;
}

div#memory_board > div {
	background: url(images/tomato.jpeg) center no-repeat;
	background-size: 100%;
	border: #000 1px solid;
	width: 71px;
	height: 71px;
	float: left;
	margin: 10px;
	padding: 20px;
	font-size: 64px;
	cursor: pointer;
	text-align: center; 

}

.card-img{
	max-width: 100%;
	height: auto;
	display:block;
}